@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,700&subset=cyrillic');
/* Global */
* {
  box-sizing: border-box;
}

body {
  /*background: linear-gradient(45deg, #EECFBA, #C5DDE8); FF59FF*/
  background: linear-gradient(70deg, #FFA5FF, #70CCBE);
  font-family: 'Open Sans', sans-serif;
}

button {
  padding: 15px 35px;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  box-shadow: 0 5px 0 #3c93d5;
  background-color: #55acee;
}
.btn-next {
  padding: 6px 12px;
  margin-bottom: 18px;
  background-color: #24BE73; 
  box-shadow: 0 5px 0 #28a745;
}

img {
  border: 0;
  vertical-align: middle;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  height: 100vh;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width:1200px){
  .container { 
    width:1170px
  }
}

#app {
  display: flex;
  justify-content: center;
}

.option {
  padding: 5px 0;
}

.start {
  text-align: center;
}

.start p {
  text-align: left;
}
,
.test {
  position: relative;
  width: 100%;
}
.question {
  position: absolute;
  right: 25%;
}
.start,
.result,
.question {  
  width: 50%;
  background-color: #fff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
}

h4 {
  margin-top: 0;
}

label {
  display: inline-block;
  padding: 6px 12px;
  width: 100px;
  border: 1px solid #007bff;
  cursor: pointer;
  background-color: #fff;
  transition: .3s all ease;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 12px;
}

label:hover,
input:checked ~ label {
  color: #fff;
  background-color: #3c93d5;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
}

.checkbox-none {
  display: none;
}

.progress {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  background-color: #e9ecef;
}

.progress > div {
  background-color: #70CCBE;
  text-align: center;
  color: #fff;
}

/* Transition */ 
.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
