label {
  display: inline-block;
  padding: 5px;
  width: 100px;
  text-align: center;
  border: 1px solid #000;
  cursor: pointer;
  background-color: #fff;
  transition: .3s background-color ease;
}

label:hover,
input:checked ~ label {
  background-color: #eee;
}

.checkbox-none {
  display: none;
}

/* Transition */ 
.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
