<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<div id="app">
  <transition>
    <!--div class="start" key="start">
      <button v-on:click="show = 'test'">Начать</button>
    </div--><!-- end start -->

    <div v-if="show === 'test'" class="test" key="test">
      <div>
        <div v-for="(option, index) in options">
          <div v-if="id === index">
            <h4>{{ questions[index].question }}</h4>
            <div v-for="opt in option">
              <div>
                <div v-for="(value, index) in opt">
                  <input type="checkbox" v-bind:id="'checkbox-' + index" v-bind:value="value" v-model="checkedValue" class="checkbox-none">
                  <label v-bind:for="'checkbox-' + index">{{ value }}</label>                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ checkedValue }}
      <button v-on:click="next">Следующий вопрос</button>
      <!--{{ options[0].option[0] }}-->
    </div><!-- end test -->

    <div v-if="show === 'result'" class="result" key="result">
      <h2>Итог</h2>
      <p>У вас {{ correct.length }} правильных и {{ incorrect.length }} неправильных ответов</p>
    </div><!-- end relult -->
  </transition>
</div><!-- end -->

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="js/script.js"></script>
</body>
</html>