<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container">
<div id="app">  
  <div class="preload"><img src="load.svg"></div>
  <transition name="fade" mode="out-in">
    <div v-if="show === 'start'" class="start" key="start" v-cloak>
      <button @click="show = 'test'">Начать тест</button>
    </div><!-- end start -->

    <div v-if="show === 'test'" class="test" key="test" v-cloak>
      <div v-for="(value, index) in newData">
        <transition name="fade" mode="out-in">
          <div v-if="id === index" key="index" class="question">
            <h4>{{ newData[index].question }}</h4>
            <div v-for="(option, index) in value.options" class="check-input">
              <input type="checkbox" :id="'checkbox-' + index" :value="index" v-model="checkedValue" class="checkbox-none">
              <label :for="'checkbox-' + index">{{ option.text }}</label>
          </div>
          <button class="btn-next" @click="next">{{ button }}</button>
          <div class="progress"><div :style="{ width: (((id + 1) / options.length) * 100) + '%' }" > {{ (((id + 1) / newData.length) * 100) }}%</div></div>
        </div>
      </transition>
      </div>
    </div><!-- end test -->

    <div v-if="show === 'result'" class="result" key="result" v-cloak>
      <h2>Итог</h2>
      <p>У вас {{ correct.length }} правильных и {{ incorrect.length }} неправильных ответов</p>
      <button @click="start">Пройти заново</button>
    </div><!-- end relult -->
  </transition>
</div><!-- end -->
</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="js/script.js"></script>
</body>
</html>
